.hidden{
    display: none;
}
#greeting{
    text-align: center;
}
#userChange{
    position: absolute;
    margin-left: 88%;
    top: 40px;
    border: solid 3px black;
    border-radius: 15px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}
#nameInput{
    position: absolute;
    left: 50%;
    top: 17%;
    transform: translate(-50%);
}
#nameValue{
    border-bottom: solid 3px black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
    height: 25px;
    outline: none;
}
#nameValue::backdrop{
    display: none;
}
#nameButton{
    border-bottom: solid 3px black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(0, 0, 0, 0);
    height: 32px;
    font-weight: bold;
}
#time{
    position: absolute;
    left: 7%;
    top: 2%;
}

#todo-form{
   
   position: fixed;
   top: 35%;
   left: 50%;
   transform: translate( -50%, -50%);
   
}
#todoValue{
    text-align: center;
    border-bottom: solid 3px black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    color: black;
    font-weight: bold;
    width: 300px;
}

#todoValue::placeholder{
    color: black;
}
.delete{
    position: fixed;
    right: -10px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(0, 0, 0, 0);
}
#todoButton{
    border-bottom: solid 3px black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}
#todoList{
    position: fixed;
}
#todoList li{
    border-bottom: solid 1px black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgba(51, 2, 2, 0);
}
#quote{
    text-align: center;
    margin-top: 450px;
    font-weight: bold;
}
